.cameraContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cameraContainer video {
    width: 350px;
    height: 400px;
}

.cameraGroup {
    position: relative;
    justify-content: center;
    align-items: center;
}

.lineCanva {
    border: 2px solid green;
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    height: 20%;
}